<ul>
  <li>
    <a href="#">
      <i class="fa fa-facebook f1" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-twitter f2" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-google-plus f3" aria-hidden="true"></i>
    </a>
  </li>
</ul>
