<% content_for :slider do %>
  <%= render "layouts/slider" %>
<% end %>
<% content_for :about do %>
  <%= render "layouts/about" %>
<% end %>
<% content_for :wthree_slider do %>
  <section class="wthree-slider" id="masthead">
  </section>
<% end %>
<% content_for :middle do %>
  <%= render "layouts/middle" %>
<% end %>
