<% provide(:title, t("users.profile_me")) %>
<% content_for :page_detail do %>
  <%= render "layouts/page_detail" %>
<% end %>
<div class="div-profile">
  <div class="container" >
    <h3><%= t("users.profile_me").upcase %></h3>
    <p><%= t "users.manager_user" %></p>
    <div class="container emp-profile a">
      <%= render "form_profile" %>
    </div>
  </div>
</div>
