<% if object.errors.any? %>
  <div id="error_explanation a" id="flash_message">
    <div class="alert alert-danger a">
      <%= t "error_messages.form_error" %>
      <%= t("error_messages.error", count: object.errors.count) %>.
      <ul class="a" style="list-style-type: none;">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
