<div class="col-sm-12 imgkout">
  <%= image_tag "products/#{item.picture}", class: "imgcheckout" %>
  <span class="koutsl"><%= @carts[item.id.to_s] %></span>
  <span class="spankout1"><%= item.name %></span>
  <span class="spankout1">
    <%= number_to_currency(amount_product @carts[item.id.to_s], item.price) %>
  </span>
</div>
