$color-white: #fff;
$color-000: #000;
$color-red: red;
$color-ccc: #ccc;
$color-eee: #eee;
$color-333: #333;
$btn-success: #5cb85c;
$btn-info: #5bc0de;
$btn-prymari: #428bca;
$btn-danger: #d9534f;
$cancel: #d43f3a;
$prymari: #357ebd;
$info: #46b8da;
$success: #4cae4c;
$lg: #FFEBCD;
$color-000: #000;

div.si-co {
  margin-top: -32px;
  padding: 0;
  padding-bottom: 23%;
  div.div-avatar {
    margin-left: 25%;
    margin-top: -10px;
    img {
      width: 120px;
    }
  }
  ul.menu-admin {
    margin-top: -30px;
  }
}
span.icon-admin {
  font-size: 50px;
  color: $color-white;
}
.div-index {
  margin-top: -700px;
  margin-left: 320px;
}
.panel-red {
  background: red;
  padding-right: 80px;
}
table, th {
  text-align: center;
  .btn-role {
    padding: 3px;
    border-radius: 5px;
  }
  li.li-option {
    list-style-type: none;
    a.a-opiton {
    color: $color-000;
    }
  }
}
.error_message {
  color: $color-red;
}
div.div-category {
  margin-top: -700px;
  textarea {
    padding: 10px;
  }
  .span-delete {
    border: none;
    background: $color-white;
    color: $color-red;
  }
  table.product-table {
    margin-top: 20px;
    .bg-default {
      background-color: $color-ccc;
    }
    .qty-span {
      background: url(//theme.hstatic.net/1000243581/1000361905/14/bg-variant-checked.png?v=131) no-repeat right bottom $color-white;
      padding:2px;
      border: 1px solid $color-ccc;
    }
    td {
      img {
        width: 200px;
      }
    }
  }
  .btn-hide {
    background: $color-eee;
  }
  .div-paginate {
    margin-left: 38%;
  }
  .btn-order {
    padding: 1px 7px;
  }
  .btn-waiting {
    color: $color-333;
    background-color: $color-white;
    border-color: $color-ccc;
  }
  .btn-approve {
    color: $color-white;
    background-color: $btn-success;
    border-color: $success;
  }
  .btn-delivering {
    color: $color-white;
    background-color: $btn-info;
    border-color: $info;
  }
  .btn-delivered {
    color: $color-white;
    background-color: $btn-prymari;
    border-color: $prymari;
  }
  .btn-cancel {
    color: $color-white;
    background-color: $btn-danger;
    border-color: $cancel;
  }
  .search-order {
    float: left;
    width: 50%;
    margin-right: 20px;
  }
  .div-filter {
    width: 20%;
    float: left;
  }
  .table-detail {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    width: 60%;
  }
  .select-status {
    width: 30%;
    margin-bottom: 20px;
    background: $lg;
  }
}
.img-order {
  width: 200px;
}
