<div class="container a cart-empty">
  <%= t "cart.cart_empty" %>
  <br><br>
  <%= link_to products_path, class: "btn-continue" do %>
    <span class="glyphicon glyphicon-heart"></span><%= t "cart.continue" %>
  <% end %>
</div>
