$color-white: #fff;
$color-eee: #eee;
$color-000: #000;
$profile-btn: #ee4d2d;
$color-ccc: #ccc;
$bg-profile-img: #212529b8;
$color-333: #333;
$color-777: #777;
$p-5px: 5px;
$p-10px: 10px;
$p-15px: 15px;
$pl-20px: 20px;
$mt-15px: 15px;
$fs-15px: 15px;
$fs-20px: 20px;
$fs-12px: 12px;
$fs-22px: 22px;
$fs-45px: 45px;
$mr-20px: 20px;
$mr-10px: 10px;
$ml-5px: 5px;
$ml-7px: 7px;
$ml-15px: 15px;
$mb-15px: 15px;
$mt-20px: 20px;
$mt-30px: 30px;
$mt-60px: -60px;
$width-60px: 60px;
$font-weight: 600;
$border-radis-btn-profile: 3px;
$color-a-profile-work: #495057;
$p-profile-tab: #0062cc;
$border-bot-profile-tab: #0062cc;
$profile-edit-button: #6c757d;
$green: #3CB371;
$red: #fa2000;
$bg-profile-file: #212529b8;
$proile-rating: #818182;
$profile-a: #495057;
$profile-p: #818182;
$color-F5: #F5F5F5;
$color-73: #737373;
$btn-kout: #338dbc;
$color-ffa200: #ffa200;
$color-fa: #FAFAFA;
$color-ef: #EFEFEF;
$bg-btn-box-rate: #ee4d2d;
$half-star-after: #bdc3c7;
$half-star: #e67e22;
$color-a9a9a9: #a9a9a9;
$color-f1f1f1: #f1f1f1;
$color-ddd: #ddd;
$price: #ed4e4e;
$qty: #fa2000;
$a-cart-c: #f72b3f;

.pa {
  padding: $p-5px;
}
.m-left{
  margin-left: 20px;
}
.ma {
  margin-top: $mt-15px;
}
.mb {
  margin-bottom: $mb-15px;
}
.div-profile {
  background: $color-eee;
  margin-top: $mt-20px;
  button {
    margin-top: $mt-30px;
  }
}
.a{
  font-size: $fs-15px;
}
.form-control {
  font-size: $fs-15px;
}
.text-require {
  color: red;
  font-size: $fs-20px;
}
.sex {
  font-size: $fs-15px;
  font-weight: bold;
  margin-right: $mr-10px;
  margin-left: $ml-5px;
}
.birthday {
  margin-left: $ml-7px;
  font-size: $fs-15px;
}
.margin-r {
  padding-left: $pl-20px;
}
.commenterImage {
  width: $width-60px;
  height:100%;
}
.commenterImage {
 img {
    width:100%;
    border-radius:50%;
    }
}
.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background: $color-white;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img {
  .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: $fs-15px;
    background: $bg-profile-img;
    }
}
.profile-img {
  .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    }
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: $profile-edit-button;
  cursor: pointer;
}
.profile-head {
 .nav-tabs {
    margin-bottom:5%;
  }
  h5 {
    color: blue;
  }
}
.profile-head .nav-tabs {
  .nav-link {
    font-weight: $font-weight;
    border: none;
  }
}
.profile-head {
  .nav-tabs {
    .nav-link.active {
      border: none;
      border-bottom:2px solid $border-bot-profile-tab;
    }
  }
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work {
  p {
    font-size: $fs-12px;
    color: #818182;
    font-weight: $font-weight;
    margin-top: 10%;
  }
}
.profile-work {
  a {
    text-decoration: none;
    color: $color-a-profile-work;
    font-weight: $font-weight;
    font-size: $fs-15px;
  }
}
.profile-work {
  ul {
    list-style: none;
  }
}
.profile-tab label {
  font-weight: $font-weight;
}
.profile-tab {
  p {
    font-weight: $font-weight;
    color: $p-profile-tab;
  }

}
.imgtron {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.btn-profile {
  background-color: $profile-btn;
  color: $color-white;
  border: none;
  padding: 10px 20px;
  border-radius: $border-radis-btn-profile;
}
.btn-back-profile {
  margin-top: $mt-30px;
  margin-left: $ml-15px;
  background-color: $color-eee;
  color: $color-000;
  border: none;
  padding: 10px 20px;
  border-radius: $border-radis-btn-profile;
  text-decoration: none;
}
.p-updated {
  border: 1px solid $color-ccc;
  display: inline-block;
  padding: $p-15px;
  span {
    color: $color-000;
  }
}
.tab-profile {
  margin-top: $mt-60px;
}
.commenterImage {
  width:60px;
  height:100%;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background: $color-white;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: $bg-profile-file;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: $color-333;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: $proile-rating;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: $profile-p;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: $profile-a;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.imgtron{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.btn-profile{
  background-color: $profile-btn;
  color: $color-white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
}
.btn-back-profile{
  margin-left:15px;
  background-color: $color-eee;
  color: $color-000;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
}
.p-updated{
  border: 1px solid $color-ccc;
  display: inline-block;
  padding: 15px;
}
div.pagination {
  em, a, span {
    font-size: 15px;
    padding: 15px;
  }
}
/* style cart  */
.div-cart {
  border-right:1px solid $color-ccc;
  padding-bottom: 25.2%;
  text-align: center;
  .th-product {
    width: 30%;
    color: $color-777;
  }
  tbody {
    padding-bottom: 23.4%;
    img {
      width:150px;
    }
    a.btn-remove {
      color: red;
      text-decoration: none;
    }
    .th1, .td1 {
      width: 15%;
      text-align: center;
    }
    .td-qty {
      padding:0 30px;
    }
  }
}
a.btn-continue {
    background: $color-white;
    color: $color-ffa200;
    padding:10px 86px;
    border: 2px solid $color-ffa200;
    font-weight: bold;
    text-decoration: none;
  }
.table-cart {
  color: $color-777;
  .span-tam {
    color: $color-000;
  }
  .td-checkout {
    padding-top: 30px;
    a {
      background: $green;
      color: $color-white;
      padding: 10px 20px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
.cart-empty {
  padding-bottom: 23.4%;
}

/* order form */
#textcheckout1{
  color: $color-73;
}
.divkout2{
  padding-top: 0%;
  padding-left: 20%;
  padding-right: 5%;
  img {
    width: 15%;
  }
  textarea {
    padding: 10px;
  }
}
.divkout1{
  background: $color-F5;
  height: 700px;
  padding-top: 10%;
  padding-bottom: 80%;
  padding-left: 7%;
  padding-right: 20%;
  color: $color-73;
  border-left: 1px solid $color-ccc;
  img.imgcheckout{
    width: 18%;
    border-radius: 10px;
    border: 1px solid $color-ccc;
    position: relative;
  }
  span.koutsl{
    position: absolute;
    top: -10px;
    left: 17%;
    padding: 4px 13px;
    border-radius: 50%;
    background: rgba(153,153,153,0.9);
    color: $color-white;
  }
}
.imgkout{
  margin-bottom: 20px;
}
.spankout1{
  margin-left: 3%;
}
.btnkout{
  width:40%;
  height:40px;
  background: $btn-kout;
  color: $color-white;
  float: right;
}
.divtong {
  margin-top: 20px;
  border-top: 1px solid $color-ccc;
  border-bottom: 1px solid $color-ccc;
  padding: 20px 0;
  .spantong {
    color: $color-000;
    font-size: $fs-22px;
  }
  .spantongtien {
    color: $color-000;
    font-size: $fs-22px;
    float: right;
  }
}
/* detail product */
.btn-addcart {
  margin-right: 10px;
  padding: 10px;
  border-radius: 0;
  span {
    margin-right: 10px;
  }
}
.td-info {
  background: rgba(0,0,0,0.1);
}
.tabletag {
 tr {
    td {
      text-align: center;
      p {
        font-size: $fs-12px;
        }
      }
  }
}
#ptag{
  color: $color-ffa200;
  font-size: $fs-15px;
}
.mySlides {
  img {
    width: 100%;
  }
}
.menu-style {
  background: $color-eee;
}
.product_name {
  font-size: $fs-45px;
}
.bold {
  font-weight:700;
}
.padding-bottom-7 {
  padding-bottom:7px;
}

.review-block {
  background-color: $color-fa;
  border:1px solid $color-ef;
  padding:15px;
  border-radius:3px;
  margin-bottom:15px;
}
.review-block-name{
  font-size:12px;
  margin:10px 0;
}
.review-block-date{
  font-size:12px;
}
.review-block-rate{
  font-size: 13px;
  margin-bottom: $fs-15px;
}
.review-block-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.review-block-description{
  font-size:13px;
}

/*box comment + ratting*/
.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.stars {
  margin: 20px 0;
  font-size: 30px;
  color: dodgerblue;
}
.half {
  position: relative;
  after {
    content:'';
    position: absolute;
    z-index: 1;
    background: white;
    width: 50%;
    height: 100%;
    left: 47%;
  }
}
.haflstar {
  font-size: 40px;
  color: #e67e22;
  &.half {
    position: relative;
    &:before {
      position: relative;
      z-index: 9;
      width: 47%;
      display: block;
      overflow: hidden;
    }
    &:after {
      content: '\e006';
      position: absolute;
      z-index: 8;
      color: #bdc3c7;
      top: 0;
      left: 0;
    }
  }
}
.div-rating {
  img.img-rate {
    width: 50px;
  }
  margin-bottom: $mt-30px;
  .s-star {
    color: dodgerblue;
    font-size: $fs-20px;
  }
  .s-star-default {
    color: $color-ccc;
    font-size: $fs-20px;
  }
  div.pl {
    width: 180px;
    .s-space {
      height: 12px;
      margin: 8px 0;
    }
    .five-star {
      width: 100%;
    }
    .four-star {
      width: 80%;
    }
    .three-star {
      width: 80%;
    }
    .two-star {
      width: 40%;
    }
    .one-star {
      width: 20%;
    }
  }
  div.count-star {
    margin-left: 10px;
  }
  .div-s {
    width: 35px;
    line-height: 1;
  }
  .ss {
    height: 9px;
    margin: 5px 0;
  }
  div.div-box-rate {
    background-color: $color-fa;
    border: 1px solid $color-ef;
    button {
      background-color: $bg-btn-box-rate;
      color: $color-white;
      border: none;
      padding: 10px 17px;
      border-radius: 3px;
      margin-right: $p-5px;
    }
    div.box-comment {
      display: none;
      border-radius: 0;
      a.btn-close {
        font-size: $fs-15px;
        display: none;
        margin-right: 10px;
        border: none;
        padding: 10px 17px;
        border-radius: 3px;
        margin-right: $p-5px;
      }
      textarea {
        padding: 10px;
      }
    }
  }
}
h1.h-rating {
  margin-top: 40px;
}

/* detail product */
.btn-addcart {
  margin-right: 10px;
  padding: 10px;
  border-radius: 0;
  span {
    margin-right: 10px;
  }
}
.td-info {
  background: rgba(0,0,0,0.1);
}
.tabletag {
 tr {
    td {
      text-align: center;
      p {
        font-size: $fs-12px;
        }
      }
  }
}
#ptag{
  color: $color-ffa200;
  font-size: $fs-15px;
}
.mySlides {
  img {
    width: 100%;
  }
}
.menu-style {
  background: $color-eee;
}

.bold{
  font-weight:700;
}
.padding-bottom-7{
  padding-bottom:7px;
}

.review-block{
  background-color: $color-fa;
  border:1px solid $color-ef;
  padding:15px;
  border-radius:3px;
  margin-bottom:15px;
}
.review-block-name{
  font-size:12px;
  margin:10px 0;
}
.review-block-date{
  font-size:12px;
}
.review-block-rate{
  font-size: 13px;
  margin-bottom: $fs-15px;
}
.review-block-title{
  font-size:15px;
  font-weight:700;
  margin-bottom:10px;
}
.review-block-description{
  font-size:13px;
}

/*style ratting*/
/*box comment + ratting*/
.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.stars {
  margin: 20px 0;
  font-size: 30px;
  color: dodgerblue;
}
.half {
  position: relative;
  after {
    content:'';
    position: absolute;
    z-index: 1;
    background: white;
    width: 50%;
    height: 100%;
    left: 47%;
  }
}
.haflstar {
  font-size: 40px;
  color: $half-star;
  &.half {
    position: relative;
    &:before {
      position: relative;
      z-index: 9;
      width: 47%;
      display: block;
      overflow: hidden;
    }
    &:after {
      content: '\e006';
      position: absolute;
      z-index: 8;
      color: $half-star-after;
      top: 0;
      left: 0;
    }
  }
}
.div-rating {
  img.img-rate {
    width: 50px;
  }
  margin-bottom: $mt-30px;
  .s-star {
    color: dodgerblue;
    font-size: $fs-20px;
  }
  .s-star-default {
    color: $color-ccc;
    font-size: $fs-20px;
  }
  div.pl {
    width: 180px;
    .s-space {
      height: 12px;
      margin: 8px 0;
    }
    .five-star {
      width: 100%;
    }
    .four-star {
      width: 80%;
    }
    .three-star {
      width: 80%;
    }
    .two-star {
      width: 40%;
    }
    .one-star {
      width: 20%;
    }
  }
  div.count-star {
    margin-left: 10px;
  }
  .div-s {
    width: 35px;
    line-height: 1;
  }
  .ss {
    height: 9px;
    margin: 5px 0;
  }
  div.div-box-rate {
    background-color: $color-fa;
    border: 1px solid $color-ef;
    button {
      background-color: $bg-btn-box-rate;
      color: $color-white;
      border: none;
      padding: 10px 17px;
      border-radius: 3px;
      margin-right: $p-5px;
    }
    div.box-comment {
      display: none;
      border-radius: 0;
      a.btn-close {
        font-size: $fs-15px;
        display: none;
        margin-right: 10px;
        border: none;
        padding: 10px 17px;
        border-radius: 3px;
        margin-right: $p-5px;
      }
      textarea {
        padding: 10px;
      }
    }
  }
}
h1.h-rating {
  margin-top: 40px;
}

/* admin */
.tab-menu {
  width: 200%;
}
div.panel-red {
  background-color: red;
}
.div-show-product {
  margin-left: 15%;
  margin-right:15%;
}
/* checkobx */
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid $color-a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* Dropdown Button */
.dropbtn {
  font-size: 21px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.qty-cart {
  position: absolute;
  top: -10px;
  right: -15px;
  background: $qty;
  color: $color-white;
  padding: 0 6px;
  border-radius: 50px;
  font-size: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999999;
  padding-bottom: 15px;
  table {
    width: 300px;
    img {
      width: 80px;
    }
    tr, td {
      padding: 10px;
      span.price-cart {
        color: $price;
      }
      span.span-qty {
        background: url(//theme.hstatic.net/1000243581/1000361905/14/bg-variant-checked.png?v=131) no-repeat right bottom $color-white;
        padding: 2px 4px;
      }
    }
  }
  span.total-price {
    margin-left: 30px;
    margin-top: 20px;
    span {
      color: $price;
      margin-left: 40px;
    }
  }
  a.a-cart {
    color: $color-white;
    background: $color-000;
    text-decoration: none;
    padding: 7px 20px;
    margin-right: 10px;
    border-radius: 0;
  }
  a.a-cart-c {
    color: $color-white;
    background: $a-cart-c;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 0;
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.cart-ml {
  margin-left: 30px;
}
#cart-empty {
  margin-left: 30px;
  z-index: 9999999999;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: $color-ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
