$color-white: #fff;
$color-eee: #eee;
$color-000: #000;
$profile-btn: #ee4d2d;
$color-ccc: #ccc;
$bg-profile-img: #212529b8;
$color-333: #333;
$color-777: #777;
$p-5px: 5px;
$p-10px: 10px;
$p-15px: 15px;
$pl-20px: 20px;
$mt-15px: 15px;
$fs-15px: 15px;
$fs-20px: 20px;
$fs-12px: 12px;
$mr-20px: 20px;
$mr-10px: 10px;
$ml-5px: 5px;
$ml-7px: 7px;
$ml-15px: 15px;
$mb-15px: 15px;
$mt-20px: 20px;
$mt-30px: 30px;
$mt-60px: -60px;
$width-60px: 60px;
$font-weight: 600;
$border-radis-btn-profile: 3px;
$color-a-profile-work: #495057;
$p-profile-tab: #0062cc;
$border-bot-profile-tab: #0062cc;
$profile-edit-button: #6c757d;

.pa {
  padding: $p-5px;
}
.ma {
  margin-top: $mt-15px;
}
.mb {
  margin-bottom: $mb-15px;
}
.div-profile {
  background: $color-eee;
  margin-top: $mt-20px;
  button {
    margin-top: $mt-30px;
  }
}
.a{
  font-size: $fs-15px;
}
.form-control {
  font-size: $fs-15px;
}
.text-require {
  color: red;
  font-size: $fs-20px;
}
.sex {
  font-size: $fs-15px;
  font-weight: bold;
  margin-right: $mr-10px;
  margin-left: $ml-5px;
}
.birthday {
  margin-left: $ml-7px;
  font-size: $fs-15px;
}
.margin-r {
  padding-left: $pl-20px;
}
.commenterImage {
  width: $width-60px;
  height:100%;
}
.commenterImage {
 img {
    width:100%;
    border-radius:50%;
    }
}
.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background: $color-white;
}
.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img {
  .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: $fs-15px;
    background: $bg-profile-img;
    }
}
.profile-img {
  .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    }
}
.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: $profile-edit-button;
  cursor: pointer;
}
.profile-head {
 .nav-tabs {
    margin-bottom:5%;
  }
  h5 {
    color: blue;
  }
}
.profile-head .nav-tabs {
  .nav-link {
    font-weight: $font-weight;
    border: none;
  }
}
.profile-head {
  .nav-tabs {
    .nav-link.active {
      border: none;
      border-bottom:2px solid $border-bot-profile-tab;
    }
  }
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work {
  p {
    font-size: $fs-12px;
    color: #818182;
    font-weight: $font-weight;
    margin-top: 10%;
  }
}
.profile-work {
  a {
    text-decoration: none;
    color: $color-a-profile-work;
    font-weight: $font-weight;
    font-size: $fs-15px;
  }
}
.profile-work {
  ul {
    list-style: none;
  }
}
.profile-tab label {
  font-weight: $font-weight;
}
.profile-tab {
  p {
    font-weight: $font-weight;
    color: $p-profile-tab;
  }

}
.imgtron {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.btn-profile {
  background-color: $profile-btn;
  color: $color-white;
  border: none;
  padding: 10px 20px;
  border-radius: $border-radis-btn-profile;
}
.btn-back-profile {
  margin-top: $mt-30px;
  margin-left: $ml-15px;
  background-color: $color-eee;
  color: $color-000;
  border: none;
  padding: 10px 20px;
  border-radius: $border-radis-btn-profile;
  text-decoration: none;
}
.p-updated {
  border: 1px solid $color-ccc;
  display: inline-block;
  padding: $p-15px;
  span {
    color: $color-000;
  }
}
.tab-profile {
  margin-top: $mt-60px;
}
.commenterImage {
  width:60px;
  height:100%;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background: $color-white;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}
.imgtron{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.btn-profile{
  background-color: $profile-btn;
  color: $color-white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
}
.btn-back-profile{
  margin-left:15px;
  background-color: $color-eee;
  color: $color-000;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
}
.p-updated{
  border: 1px solid $color-ccc;
  display: inline-block;
  padding: 15px;
}
div.pagination {
  em, a, span {
    font-size: 15px;
    padding: 15px;
  }
}

/* style cart  */
.div-cart {
  border-right:1px solid $color-ccc;
  margin-bottom: 20px;
  text-align: center;
  .th-product {
    width: 30%;
    color: $color-777;
  }
  tbody {
    img {
      width:150px;
    }
    a.btn-remove {
      color: red;
      text-decoration: none;
    }
    .th1, .td1 {
      width: 15%;
      text-align: center;
    }
    .td-qty {
      padding:0 30px;
    }
  }
}
a.btn-continue {
    background: $color-white;
    color: #fa2000;
    padding:10px 86px;
    border: 2px solid #fa2000;
    font-weight: bold;
    text-decoration: none;
  }
.table-cart {
  color: $color-777;
  .span-tam {
    color: $color-000;
  }
  .td-checkout {
    padding-top: 30px;
    a {
      background: #3CB371;
      color: $color-white;
      padding: 10px 20px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
