<div class="breadcrumb-agile bg-light py-2">
  <ol class="breadcrumb bg-light m-0">
    <li class="breadcrumb-item">
      <a href="index.html"><%= t "layout.header.home" %></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= yield(:title) %>
    </li>
  </ol>
</div>
