<div class="cpy-right text-center py-3">
  <p>© 2019 Food and Drink. All rights reserved | Design by
    <a href="http://w3layouts.com"> Le Duc Manh</a>
  </p>
</div>
<!-- //copyright -->
<!-- move top icon -->
<a href="#home" class="move-top text-center">
  <span class="fa fa-level-up" aria-hidden="true"></span>
</a>
